body {
    background-color: black;
}

.body_text {
    color: aquamarine;
    text-align: center;
}

.header {
    color: aquamarine;
    text-align: center;
    font-size: 32px;
    font-family:'Courier New', Courier, monospace
}

.image-container {
    display: flex;
    justify-content: center;
}

.overlay_text, ul, a, ol {
    list-style-type: none;
    text-decoration: none;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

li:hover {
    background-color: black;
    opacity: 50%;
    transition: 0.3s;
    font-size: 18px;
}